/*style for body*/
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

.footer{
  text-align: center;
  background-color: black;
  color:blanchedalmond;

}
ul.breadcrumb{
  padding: 10px 16px;
  list-style:none;
  background-color: cyan;
  flex-direction: row-reverse;
}


.header{
  text-align: center;
  
}

.nav{
  text-align: center;
  background-color: darkgrey;
  
}
